<a href="https://colab.research.google.com/github/saikirankesoju/AIML/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write a program to print a name?

In [ ]:
a=5
b=6
print(a+b)

11

saikiran

In [ ]:
a=input("enter a number")
b=input("enter a number")
c=a+b
print(c)

enter a number3
enter a number3
33

**bold text*

saikiran

In [ ]:
from typing_extensions import Order
b=int(input("total number plates of the biryani"))
c=int(input("total number plates of the dosa"))
d=int(input("total number plates of the chapathi"))
e=print("total price of the orders")

15-09-2023

In [ ]:
a=int(input("enter a number"))
if(a>=0)
  print("positive number")
if(a/2==0)
print("even number")
else:
  print("odd number")
else:
  print("negative number")
  if(a/2==0)
  print("even")
else:
  print("odd")

SyntaxError: ignored

15-09-2023;read only three integer number

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if(a>b):
  if(a>c):
     print("first number is bigger number")
  else:
    print("third number is bigger number")
else:
   if(b>c):
    print("second number is bigger number")
   else:
    print("third number is bigger number")

enter a number10
enter a number20
enter a number30
third number is bigger number

15-09-2023

In [ ]:
a=int(input("enter a number"))
b=int(input("enter anumber"))
c=int(input("enter anumber"))
if(a>b):
 if(a>c):
  print(a)
else:
  print(c)
else:
 if(b>c)
 print(b)
else:
  print(c)

SyntaxError: ignored

15-09-2023:four numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
d=int(input("enter a number"))
if(a>b and a>c and a>d):
  print(a)
elif(b>c and b>d):
    print(b)
elif(c>d):
      print(c)
else:
     print(d)

enter a number3
enter a number4
enter a number7
enter a number8
8

15-09-2023:temperature checking

In [ ]:
a=float(input("temperature"))
if(a>25):
  print("indoor")
else:
  print("outdoor")

temperature25.6
indoor

15-09-2023:grade classification
90-100:A
80-89:B
70-79:C
60-69:D
BELOW 60:F

In [ ]:
a=int(input("enter a marks"))
if(a>=90 & a<100):
  print("grade A")
elif(ifa>=80 & 89):
    print("grade B")
elif(ifa>=70 & 79):
  print("grade C")
elif(ifa>=60 & a<69):
    print("grade d")
else:
  print("fail")

enter a marks66
grade A

15-09-2023

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))

In [ ]:
17-09-2023

19-09-2023

In [ ]:
a=int(input("enter the price"))
if(a<=500):
  p=a+a*5/100
  print("final price is:",p)
elif(a>500 and a<=1000):
    p=a+a*10/100
    print("final price is",p)
elif(a>1000 and a<=5000):
      p=a+a*20/100
      print("final price is",p)
else:
        p=a+a*30/100
        print("final price is",p)

enter the price250
final price is: 262.5

19-09-2023

In [ ]:
a=int(input("enter the balance"))
b=int(input("enter a age"))
if(a>5000 and b>=60):
  p=a+a*2/100
  print("final balance",p)
elif(a<=5000 and b==40):
  p=a+a*1/100
  print("final balance",p)
elif(a>=5000 and b==25):
  p=a+a*0.5/100
  print("final balance",p)
else:
  print("the balance remains same",p)

enter the balance9000
enter a age90
final balance 9180.0

19-09-2023



```
# This is formatted as code
```

19-09-2023,:write a python progress based on the following criteria:in a family there are three kids each with different ages (age1!=age2!=age3),their father wants to offer them a gift based on the following criteria 1:if sums of all the ages is less than 20years and even,then they will be offerd a 1000/ worth gift otherwise only 200/ worth gift.criteria 2:if the sum of all the ages is above 20yeras and odd.then they will be offered 5000/worth gifts otherwise only 200/worth gifts.if the ages of 2/3 kids are the same.then the program should be terminated.

In [ ]:
a=int(input("age of kid 1"))
b=int(input("age of kid 2"))
c=int(input("age of kid 3"))

if(a==b or b==c or c==a or a==b==c):
    print("terminated")
else:
    if((a+b+c)<20):
        if((a+b+c)%2==0):
            print("gift worth 1000")
        else:
            print("gift worth 200")
    else:
         if((a+b+c)%2==1):
             print("gift worth 5000")
         else:
             print("gift worth 200")

age of kid 13
age of kid 24
age of kid 35
gift worth 1000

22-09-2023: write a program in python to calculate and print the electricity bill of a given customer .the customer id..,name and unit consumed by the user should be taken from the keyboard and display the total amount to pay to tne customer.
the charges as per follow chart:
unit charge units up to 199@1.20
200 and above but less than 400@1.50
400 and above but lessthan 600@ 1.80
600 and above @2.00
if bill exceeds rs.400 then a surcharges of 15% will be charged and the minimum bill should be of rs.100%

In [ ]:
a=input("enter the customer name")
b=int(input("enter the customer id"))
c=int(input("enter the units"))
#d=int(input("calculate the total bill"))
if(c<=199):
    d=1.2*c
elif(c>200 and c<400):
    d=1.5*c
else:
    d=2*c
if(d>=400):
    d=d+d*15/100
    print(d)
elif(d<400 and d>100):
    print(d)
if(d<100):
    print(100)

enter the customer namesai
enter the customer id67589
enter the units0
100

22-09-2023:assume that,you are working on an e-commerce platform and need to categorize items based on their prices less than rs.500 should be categorised as "affordable".items with a price between rs.500 and rs.1000 should be categorised as "mid range".items with a price greater than rs.1000 should be categorised as "expensive".if the price is negative .print an error message "invalid price"

In [ ]:
a=int(input("enter the cost"))
if(a<500)

25-09-2023:check whether if prime number(or) not

In [ ]:
n=int(input("enter a number"))
i=1
c=0
while(i<n):
    if(n%i==0):
        c=c+1
    i=i+1
if(c>=2):
    print("not prime number")
else:
    print("prime number")

enter a number90
not prime number

In [ ]:
a=1234
n=int(input("enetr a password"))
while(a!=n):
    N=int(input("enter a password again"))
print("password correct")

enetr a password1234
password correct

25-09-2023:write a program to print sum of n numbers

In [ ]:
n=int(input("enter a number"))
i=1
sum=0
while(i<n):
  sum=sum+i
  i=i+1
print(sum)

enter a number8
28

25-09-2023:write a program sum of even numbers 0 to n

In [ ]:
a=int(input("enter a number"))
i=1
sum=0
while(i<=n):
    if(i%2==0):
        sum=sum+1
    i=i+1
print("sum")

enter a number4
sum

In [ ]:
N1=int(input("enter a value"))
N2=int(input("enter a value"))
a=N1+N2/2
print(a)

enter a value10
enter a value9
14.5

25-09-2023:

In [ ]:
n=int(input("enter a number"))
i=1
sum=0
while(i<n):
      sum=sum+i/2
      i=1+i
print(sum)

enter a number10
22.5

In [ ]:
n=int(input("enter a number"))
i=1,sum=0
while(i<n):
      sum=sum+i
      print(sum)
      i=i+1

SyntaxError: ignored